html, body {
    background-color: #f1f1f1;
    color: #193e72;
    font-family: Lato;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #333;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

header:before {
    background-color: #ea5d4e;
    background-image: none;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 15px;
    width: 100%;
}

header {
    background-color: white;
    margin: 0;
}

header h1 {
    height: 120px;
    line-height: 120px;
    text-align: right;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    background-image: url(../images/nihr-lbrc.png);
    background-size: 270px auto;
    background-repeat: no-repeat;
    background-position: center left;
}

.navbar{
    padding: 10px 0;
}

.navbar a {
    padding: 10px;
    margin: 0;
    height: 40px;
    line-height: 20px;
}

.navbar a:hover {
    background-color: #193e72;
    color: white;
}

.navbar .navbar-brand {
    font-size: 15px;
    background-color: #193e72;
    color: white;
}

.navbar a.active {
    background-color: #193e72;
    color: white;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

section a.link {
    border-radius: 0;
    text-align: left;
    background: #46a86c;
    display: relative
}


section a.link:after {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 5px;
    right: 10px;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content {
  flex: 1;
}

footer {
    background-color: #193e72;;
    color: white;
}

footer div {
    padding: 15px 0px;
    font-size: 18px;
}

